*{
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
    flex-shrink: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    line-height: 1.6;
}

html{
    background-image: url('/img/paint.jpg');
    background-size: cover;
    /* border: #0a0a0a 5px solid; */
}

a{
    text-decoration:  none;
}

/* navbar/header */
.navbar{
    background-color: #f1f3f7;
    height: 60px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.navbar .flex{
    justify-content: space-between;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo a{
    color: #0a0a0a;
    font-size: 24px;
}

ul{
    list-style-type: none;
    display: flex; 
}

li a{
    color: #0d0d0e;
    font-size: 18px;

    padding: 15px;
    margin: 0 5px;
}

.navbar li a:hover{
    border-bottom: 2px rgb(138, 135, 135) solid;
    border-top: 2px rgb(117, 99, 99) solid;
}

/* first block */
.block1{
    background-color: #3f67a0;
    height: 250px;
}

.block1 .flex{
    justify-content: space-between;
}

.block-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.block-text p{
    color: #e5e7eb;
    max-width: 300px;
}

.block-text h1{
    color: #e5e7eb;
    font-size: 2;
}

.block-img{
    max-width: 1000px;
    margin: 10px;
    padding: 0 40px;
}

.block-img img{
    width: 15vw;
    height: 15vw;
    border-radius: 8px;
    max-width: 100%;
    height: auto; 
}

/* photo block of tesla */
.squad{
    background-color: #c44332;
    display: flex;
    flex-direction: column;
    height: 500px;

}

.squad-title{
    color: rgb(17, 17, 17);
    text-align: center;
    text-shadow: 1px 1px white;
    font-size: 50px;
    padding: 35px 0 30px;
}

.hero-img{
    border: 10px #0a0a0a solid;
    border-radius: 30px;
    box-shadow: 2px 2px 3px white;
    
    max-width: 300px;
    height: auto; 
}

.hero-text{
    text-align: center;
    flex-wrap: wrap;
}

.hero h2{
    text-align: center;
}

.hero-container{
    display: flex;
    justify-content: center;
}

/* inspirational quote block */

.quote{
    background-color: rgb(84, 224, 178);
    height: 200px;
}

.quote .flex{
    /* justify-content: space-between; */
    flex-direction: column;
}

.quote-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 40px;
}

.quote-text{
    font-style: italic;
}

.author-text{
    font-weight: bold;
    text-align: end;
}